My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "I am an appointment booking system. Please tell me the booking you are comfortable with...",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "b73a6c1d-e779-4cf0-9677-b00a09e5319a",
      "name": "When chat message received",
      "webhookId": "a5da96a8-4d13-4719-b30c-4b7c153f9f1c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=New appointment request received from website.\nwhen user says he wants to book an appointement ask his name,email,phone no and time slot. create an event in the calendar and send a confirmation mail to the given mail id.\n\n\nConfirm the appointment politely.\n {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "4639c1e1-665e-402e-9ed5-c1e401337008",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "b3cd03a7-48a4-4afc-99b5-58ae9ecc60b2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "X99qCnO2ue0wm87e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}{{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        176
      ],
      "id": "5bc65e1b-a58c-4ff7-aa5c-db1e978b53a1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xesJRLJ02-HsPhUGE087QFs195ZR0rd3X4a-seA-vkI",
          "mode": "list",
          "cachedResultName": "Patient database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xesJRLJ02-HsPhUGE087QFs195ZR0rd3X4a-seA-vkI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xesJRLJ02-HsPhUGE087QFs195ZR0rd3X4a-seA-vkI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_Name', ``, 'string') }}",
            "timings": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timings', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "type ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type_', ``, 'string') }}",
            "calendar event ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calendar_event_', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patient Name",
              "displayName": "patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timings",
              "displayName": "timings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type ",
              "displayName": "type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendar event ",
              "displayName": "calendar event ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        272
      ],
      "id": "3a8f28ea-9ebc-4ae7-bfa3-72e3f5cf8435",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RfXUuZxWnZW1b3WU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "eshaan.professional2027@gmail.com",
          "mode": "list",
          "cachedResultName": "eshaan.professional2027@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        272
      ],
      "id": "f3867a2d-7f97-42c5-bafa-8e1d4a4dab44",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zn6dggtPd8y1JE9C",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "eshaan.professional2027@gmail.com",
          "mode": "list",
          "cachedResultName": "eshaan.professional2027@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        816,
        272
      ],
      "id": "96124e3a-e492-4eb0-9e93-a55eb7a9e710",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zn6dggtPd8y1JE9C",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "eshaan.professional2027@gmail.com",
          "mode": "list",
          "cachedResultName": "eshaan.professional2027@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        976,
        272
      ],
      "id": "7bf63b48-03b2-452f-9880-3a27ba2f70ba",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zn6dggtPd8y1JE9C",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1136,
        272
      ],
      "id": "6eadda4a-b256-46a5-a256-fba788d3a05a",
      "name": "Send a message in Gmail",
      "webhookId": "8d0b5a60-e67d-43cc-824f-5e80008d5015",
      "credentials": {
        "gmailOAuth2": {
          "id": "tSt2kK5eJi297vi9",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c164b780-bd86-4a09-a175-9f49be3ca1cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5abe77c7b6257baa28593e33380bee429414f52f1fdafd99ed0f4fca2024fc85"
  },
  "id": "vX0nQdHf6lQk-JuoO1L2z",
  "tags": []
}